
 <table class="table"> 
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Code</th>
      <th scope="col">Start Date</th>
      <th scope="col">Due Date</th>
      <th scope="col">Time extended</th>
      <th scope="col">Extended</th>
    </tr>
  </thead>
  <tbody> 
  <%= for history <- @books do %>
  <tr>
   
    <td><%= history.book.title  %></td>
    <td><%= history.book.code  %></td>
    <td><%= history.start_date %> </td>
    <td><%= history.return_date %> </td>
    <td><%= history.extendedtime %> </td>
    <td class="text-right">
       <%= link "Extend", to: book_path(@conn, :show, history.id), class: "btn btn-default btn-xs"  %>
    </td> 
   </tr>  
<% end %>
  </tbody>
</table>
</div> 
